LAB04/Starter/AdventureWorks/AdventureWorks.Context/bin/
LAB04/Starter/AdventureWorks/AdventureWorks.Web/obj/
LAB04/Starter/AdventureWorks/AdventureWorks.Web/bin/
LAB04/Starter/AdventureWorks/AdventureWorks.Context/obj/
LAB04/Starter/AdventureWorks/AdventureWorks.Migrate/bin/
LAB04/Starter/AdventureWorks/AdventureWorks.Migrate/obj/
LAB04/Starter/AdventureWorks/AdventureWorks.Models/bin/
LAB04/Starter/AdventureWorks/AdventureWorks.Models/obj/


DEMO05/DEMO0502/debug.log
10/bin/
10/obj
11/MessageProcessor/bin/ 
11/MessageProcessor/obj/ 
