LAB04/Starter/AdventureWorks/AdventureWorks.Context/bin/
LAB04/Starter/AdventureWorks/AdventureWorks.Web/obj/
LAB04/Starter/AdventureWorks/AdventureWorks.Web/bin/
LAB04/Starter/AdventureWorks/AdventureWorks.Context/obj/
LAB04/Starter/AdventureWorks/AdventureWorks.Migrate/bin/
LAB04/Starter/AdventureWorks/AdventureWorks.Migrate/obj/
LAB04/Starter/AdventureWorks/AdventureWorks.Models/bin/
LAB04/Starter/AdventureWorks/AdventureWorks.Models/obj/
LAB06/
DEMO05/
DEMO06